div.sidebar-tree span.caption-text {
    color: #999ca1;
    font-size: 102%;
}

span.sig-return > span.sig-return-icon {
    /*Arrow notation for return type*/
    color: #ea99e5;
}

a.headerlink,
a.reference {
    transition-delay: 0s;
    transition-duration: 0.2s;
    transition-property: color;
    transition-timing-function: ease-out;
}

div.badges {
    margin: auto;
    text-align: center;
}
